<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Registration number:</ion-label>
      {{fine.license_plate}}
    </ion-item>
    <ion-item>
      <ion-label>Reason:</ion-label>
      {{fine.reason}}
    </ion-item>
    <ion-item>
      <ion-label>Parking lot:</ion-label>
      {{fine.parking_lot}}
    </ion-item>
    <ion-item>
      <ion-img [src]="this.fine.image_url"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>
