<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to Finedr!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Find wrongly parked cars and report them to earn some cash!</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://finedr.com">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Finedr homepage</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
